@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake,luxury,forest;
  }
/* .light {
    background-color: white;
    color: black;
}


.dark {
    background-color: black;
    color: white;
} */